
/**************************
 * Overall Theme
 **************************/

body {
  min-width: 700px;
/*  background-image: url('http://s3.amazonaws.com/digitaltrends-uploads-prod/2014/01/google-deepmind-artificial-intelligence.jpg');*/
}

a.admin-href {
  color: #ff9100;
}


/**************************
 * Header Nav
 **************************/
#nav {
/*  background-image: url('/assets/img/banner.jpg');*/
  background-position: -180px 0px;
  background-size: 100%;
}

#nav .navbar-brand {
  padding-top: 0;
}

#nav ul.navbar-nav > li > a {
  color: white;
}

#nav .active > a {
  background-color: #2B2F76;
}

#nav .headerProfile {
  padding: 0;
}

.header-spacer {
  height: 50px;
}



/***********************************
 * CATEGORY CSS
 ***********************************/

#topic-browser-btn {
  border-radius: 0;
  border-right: transparent;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  z-index: 1000;
  right: 10px;
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  overflow-y: auto;
}

#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

#category {
  min-width: 250px;
  background-color: #7D7D7D;
}

#cattitle {
  background-color: white;
  font-size: 1.7em;
  text-align: left;
  padding-top: 20px;
  height: auto;
  color: black;
}

#catbrowser {
  background-color: white;
  color: white;
/*  min-height:600px;*/
  overflow: auto; 
  padding-bottom:20px;
}

.jstree li > a > .jstree-icon {
  display: none !important;
}

.jstree li > a:hover {
  text-decoration: none !important;
  color: black !important;
}


/***********************************
 * HEADER SECTION
 ***********************************/

#index {
  background-color: transparent;
  margin-left: 0px; 
  /*  min-height:  500px; */
  padding: 0px;
}

#heading {
  padding: 50px 50px;
  position: relative;
  background-image: url('/assets/img/Hero_Image.jpg');
  background-size: cover;
}


/*********************
 * Heading arrow
 ********************/
.arrow_box {
	position: relative;
	background: #f3f3f3;
	border: 4px solid #ADADAD;
    margin-bottom: 50px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #f3f3f3;
	border-width: 50px;
	margin-left: -50px;
    margin-top: -4px;
}
.arrow_box:before {
	border-color: rgba(173, 173, 173, 0);
	border-top-color: #ADADAD;
	border-width: 60px;
	margin-left: -60px;
}

#resourceinfo {
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

/*********************
 * Search Area
 ********************/

#search-bar .input-group-addon {
  background-color: white;
}

#search-input {
  height: 50px;
  border-left: transparent;
  border-right: transparent;
}

#search-tip {
  color: white;
  text-decoration: underline;
}

#topic-name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.4em;
  font-weight: bolder;
}

.topic-name-text {
/*  border-bottom: 1px dashed red;*/
  font-family: sans-serif;
  font-size: large;
}

#topic-name > span.glyphicon-triangle-bottom {
  color: red;
}

#topic-desc {
  padding: 20px 0;
  clear: left;
}


#editors {
  text-align: center;
  background-color: #d2d2d2;
  padding: 15px 5px
}

.editor-heading {
/*  float: left;
  padding-right: 10px;
*/
}

.editor {
  float: left;
  padding-left: 5px;
  height: 40px;
}

.editor-initial {
  font-size: 2em; 
  padding: 0 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
  background-color: #337AB7;
  color: white;
}

.editor-name-partial {
  display: none;
}

#search {
  width: 100%;
  margin-top: 20px;
  bottom: 8px;
}

#searchform {
  margin: 0px;
}

#searchform .input-xxlarge {
  width: 100% !important;
  display: inline-block;
}

/************************************
 * Search Results
 ***********************************/
.anchor {
  display: block;
  /*same height as header*/
  /*height: 105px; */
  /*same height as header*/
  /*margin-top: -105px;*/
  visibility: hidden;
}

#result-header {
  position: relative;
}

#sub-header-right {
  float: right;
}

#resultTotal {
  font-weight: bold;
  line-height: 6em;
}

.topic-img {
  /*float: right;*/
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.topic-img-none {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  line-height: 80px;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.page-controls {
  padding: 20px 10px;
}

#page-control-top {
  float: left;
  margin-top: 10px;
}

#page-control-bottom {
  margin: 10px 0;
}


#searchresults {
  padding: 10px;
  margin-bottom: 0;
}

.drilldown-1 {
  margin-right: 10px;
}

.drilldown-2 {
  margin-right: 10px;
}

.admin-bar {
  background-color: black;
  padding: 5px;
  color: white;
  font-size: 16px;
}

.static-content-panel {
  padding: 10px;
}

#bluedivider {
  background-color: #287EC1;
  height: 10px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 10px;
}

i:hover {
  background-color: pink;
}

#changecategoryform {
  padding-top: 15px;
}

.descriptioneditor {
  margin: 10px;
  width: 610px;
  height: 400px;
}

.hover-show {
/*  display: none;*/
}

/***********************************
 * DETAILS page CSS
 ***********************************/

.resource-container {
/*  border: 1px solid #ADADAD;*/
  margin: 10px 0;
}

table > tbody > tr > td.meta-resource-column {
  width: 60px;
  padding-right: 0;
}

.like {
  cursor: pointer;
  color: gray;
}

.liked {
  color: green;
}

.action-list > span.glyphicon {
  padding-right: 10px;
}

.comments {
  padding-bottom: 20px;
}

.comment {
/*  cursor: pointer;*/
/*  color: gray;*/
}

.resource {
  position: relative;
/*  min-height: 80px;*/
  padding-bottom: 1.2em; /* make room for views and submitted by */
}

.resource-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: -5px;
}

.resource-type {
  font-size: 15px;
}

.resource-type > span {
  margin-right: 5px;
}

.resource a.link {
  padding-right: 5px;
  font-size: small;
  color: rgb(67, 137, 67);
}

.view {
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: 10px;
  color: #bbb;  
}

.submission {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-size: 10px;
  color: #bbb;
}

img.submitter {
  height: 20px;
}

.resource-desc {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*  background-color: #C1C8D5;*/
}


/**************************
 * Pending List
 **************************/

#pending-instruction {
  width: 60%;
  position: absolute;
  bottom: 8px;
  margin-bottom: 0;
}

/**************************
 * Add Resource
 **************************/

.action-btn-container {
  position: absolute;
  bottom: -110px;
  right: 15px;
}
.controls > .help-block {
  color: red;
}

/**************************
 * Edit Resource
 **************************/

#categoryInput {
  background-color: #eee;
  min-height: 34px;
  height: auto;
}

/*
.submitter {
  vertical-align: bottom;
}
*/




/**************************
 * About CSS
 **************************/

#about-content {
/*  margin: 30px;*/
}

.section-header {
  text-align: center;
/*  color: #FF0000;*/
}

.section-subheader {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
/*  margin: 10px 0;*/
}

.about-desc {
  padding: 30px;
  margin: 0 20px;
  font-size: medium;
}

.about-anchor-link {
  font-size: x-large;
  text-align: center;
}

.section-footer {
  height: 30px;
}

#sponsor-heading {
  text-align: center;
}

.list-item {
  text-align: center;
}

.section-even {
/*  background-color: rgba(162, 210, 239, 1);*/
/*  color: white;  */
}

/*
#sponsors {
  text-align: center;
}
*/

.sponsor-section a {
/*  color: red;*/
}

#about-author {
  color: gray;
  text-align: center;
  font-size: 12px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.contributor-col {
  text-align: right;
  width: 50%;
}

.affiliate-col {
  text-align: left;
  width: 50%;
}

.affiliate-logo {
  height: 25px;
}

/**************************
 * Footer CSS
 **************************/

.footer-spacer {
  height: 50px;
}

#footer {
  position:  fixed;
  bottom:  0;
  clear: both;
  background-color: #000;
  color: #eee;
  padding: 5px 0;
  text-align: center; 
  font-size: 11px;
  width: 100%;
  z-index: 2000;
}

/****************************
 * dropdown-submenu support
 ****************************/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


